.slide-left {
  &-enter, &-leave-to {
    transform: translateX(10px);
    opacity: 0;
  }

  &-enter-active {
    transition: all .3s ease;
  }

  &-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
}

.slide-from-top {
  &-enter-active {
    transition: opacity .2s, transform .2s;
  }

  &-leave-active {
    transition: transform .5s, opacity 1s;
  }

  &-enter, &-leave-to {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

.pop-in {
  &-enter-active {
    animation: bounce-in .5s;
  }

  &-leave-active {
    animation: bounce-in .3s reverse;
  }
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}