@import "~@/assets/less/colors";
@import "~@/assets/less/variables";

.dashboard-body {
  min-height: 100vh;
  position: relative;
  background: @bgColor url(~@/assets/img/bg.jpg);
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.navbar-badge {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 50%;
  -webkit-transform: translate(-30%, -30%);
  -moz-transform: translate(-30%, -30%);
  -ms-transform: translate(-30%, -30%);
  -o-transform: translate(-30%, -30%);
  transform: translate(-30%, -30%);
}

@media screen and (min-width: @mobileWidth+1) {
  .logout-btn {
    position: absolute;
    right: 10px;
  }
}